[Unit]
Description=Kinect2Pipe client for connecting libfreenect2 to v4l2loopback devices.
Documentation=https://github.com/swedishborgie/kinect2pipe
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/kinect2pipe /dev/video0
Restart=always

[Install]
WantedBy=default.target